$font-roboto: var(--font-roboto);
$font-roboto-condensed: var(--font-roboto-condensed);
$font-playfair-display: var(--font-playfair-display);

$primary-bg-color: #fcfcfa;
$primary-text-color: #000000;

$primary-bg-color-dark: #232323;
$primary-text-color-dark: #ffffff;
